################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
*.json


/DoButHowSolution/.vs/config
/DoButHowSolution/ConsoleTestApp/*
*/obj/*
/DoButHowSolution/Dbh.BusinessLayer.BL/obj/Debug
/DoButHowSolution/Dbh.BusinessLayer.BL/obj
/DoButHowSolution/Dbh.BusinessLayer.Contracts/obj
/DoButHowSolution/Dbh.Common.IoCContainer/obj
/DoButHowSolution/Dbh.Model.DataLayer.EF/obj
/DoButHowSolution/Dbh.Model.EF.Interfaces/obj
/DoButHowSolution/Dbh.ServiceLayer.Contracts/obj
/DoButHowSolution/Dbh.ServiceLayer.Services/obj
/DoButHowSolution/WebApi
/DoButHowSolution/WebApp
/DoButHowSolution/WebApplication1
/DoButHowSolution/WebApplication2
/DoButHowSolution/WebClient
/DoButHowSolution/Dbh.Model.DataLayer.EF/Migrations
/DoButHowSolution/MVCWebApi/obj
/DoButHowSolution/MVCWebApi/wwwroot/lib
/DoButHowSolution/MVCWebApi/.bowerrc
