@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/answerViewModel.js" asp-append-version="true"></script>
<div>
    <div id="answerContainer">
        <div class="flex-container" data-bind="template: { name: 'questionsTemplate', foreach: window.answerViewModel.anwseredQuestions }"></div>
    </div>
    <p id="loading" class="loading-container">
        <img src="images/loading.gif" alt="Loading…" />
    </p>
</div>

<script type="text/html" id="questionsTemplate">
    <div style="display:none" class="questionContainer flex-item" data-bind="fadeVisible, style : { height: '50px' }">
        <a data-bind="attr:{href:utils.baseUrl()+utils.separator() + utils.answerFor() + utils.separator() + $data.questionId}">
            <table style="width:100%">
                <tr>
                    <td data-bind="text: $data.title">

                    </td>
                    <td style="float:right" data-bind="text: $data.questionCategoryDescription">

                    </td>
                </tr>
            </table>
            @*<div data-bind="text: $data.title">

            </div>
            <div data-bind="text: $data.questionCategoryDescription"> </div>*@
        </a>
    </div>
</script>
