@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/QuestionAnswerViewModel.js"></script>


<div class="questionsContainer" id="questionAnswerContainer">
    <!-- ko if: $data.Question() != undefined -->
    <form class="form-horizontal" data-bind="with: $data.Question">
        <div class="form-group">
            <label for="Title" class="control-label col-sm-3">Title:</label>
            <div class="col-sm-9">
                <input name="Title" type="text" class="form-control" disabled data-bind="value: $data.title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Category:</label>
            <div class="col-sm-9">
                <input class="form-control selcls" disabled data-bind="value: $data.questionCategoryDescription"></input>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="control-label col-sm-3">Description:</label>
            <div class="col-sm-9">
                <textarea name="Description" class="form-control" rows="5" disabled data-bind="value: $data.description"></textarea>
            </div>
        </div>
    </form>

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="AnswerQuestion" asp-controller="Question" asp-route-id="@Model" style="float:right;" class="bclass">
            <div class="btn btn-primary" style="display:inline; position:absolute">
                <i class="material-icons alignMiddle">reply</i>
                <div class="position-inline">Answer this question</div>
            </div>
        </a>
    }
    <br />
    <br />
    <br />
    <br />
    <div data-bind="template: {name:'answerTemplate', foreach: $data.Question().answerList}">

    </div>
    <!-- /ko-->
</div>

<script id="answerTemplate" type="text/html">
   
    <form class="form-horizontal">
        <div class="form-group">
            <label for="Response" class="control-label col-sm-3">Response:</label>
            <div class="col-sm-9">
                <textarea name="Response" class="form-control" rows="10" disabled data-bind="value: $data.response"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="currentRating" class="control-label col-sm-3">Rated:</label>
            <div  class="col-sm-9">
                <div style="display:inline" name="currentRating" data-bind="text: $data.currentRating"></div>
                @if (User.Identity.IsAuthenticated)
            {
            <span style="float:right;display: inline" data-bind="foreach: $data.rateVM.ratingValues">
                <i style="cursor:pointer;width:24px" class="material-icons" data-bind="text: $data.icon, click: $parent.rateVM.onStarClick"></i>

            </span>
            }           
            </div>
            
        </div>
        
    </form>
</script>
