
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="questionsContainer" >
    @if (User.Identity.IsAuthenticated)
    { 
        <a asp-action="AskQuestion">
            <div class="btn btn-primary" style="right:0px; display:inline; position:absolute">
                <i class="material-icons alignMiddle">help_outline</i>
                <div class="position-inline">Put a Question</div>
            </div>
        </a>
    }
    </br>
    <ul style="display:inline">
        @foreach (var question in Model.Questions)
        {

            <li>

                <a asp-area="" asp-controller="Question" asp-action="" asp-route-id="@question.QuestionId">
                    <div class="questionTitle">@question.Title</div>
                    <div class="questionDescription">@question.Description</div>
                </a>
            </li>

        }
    </ul>



</div>

