
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="questionsContainer">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="AskQuestion">
            <div class="btn btn-primary" style="right:0px; display:inline; position:absolute">
                <i class="material-icons alignMiddle">help_outline</i>
                <div class="position-inline">Put a Question</div>
            </div>
        </a>
    }
    </br>
    <ul style="display:inline">

        <li>

            <div class="questionTitle">@Model.Title</div>
            <div class="questionDescription">@Model.Description</div>
        </li>
    </ul>



</div>

