body {
  padding-top: 50px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0px;
  top: 101px;
  width: 80%;
  height: 90%;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  width: inherit;
  height: inherit;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  /*max-width: 280px;*/
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
  display: inline-block;
  content: "[";
  padding-right: 0.5em;
}
.btn-bracketed::after {
  display: inline-block;
  content: "]";
  padding-left: 0.5em;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
.navbar-brand {
  height: 100px;
  padding: 0px;
}
.navbar .logo {
  height: inherit;
}
.searchForm .child {
  height: 100px;
}
/************ Navigation bar *************/
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 101px;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.openNavBarButton {
  left: 0px;
  position: fixed;
  transition: display 3s;
  cursor: pointer;
}
.closeNavBarButton {
  left: 250px;
  position: fixed;
  transition: display 3s;
  cursor: pointer;
}
/*****************************/
.questionTitle {
  background: lightgrey;
}
.form-control {
  cursor: auto!important;
}
.questionDescription {
  max-height: 3.6em;
  line-height: 1.8em;
  overflow: hidden;
  margin-left: 100px;
}
.divElement {
  position: absolute;
  left: 20%;
  width: 70%;
}
.alignMiddle {
  vertical-align: middle;
}
.position-inline {
  display: inline-block;
}
.aclass {
  display: block;
  height: 38px;
  width: 150px;
}
.bclass {
  display: inline-block;
  height: 38px;
  width: 200px;
}
.floatrightbutton {
  float: right;
  margin-right: 10px;
}
.floatrightbutton .aclass .btn {
  width: 150px;
}
.floatrightbutton .blcass .btn {
  width: 200px;
}
.floatleftbutton {
  float: left;
  margin-right: 10px;
}
.floatleftbutton .btn {
  width: 150px;
}
.questionContainer {
  width: 340px;
  min-height: 100px;
  margin-bottom: 10px;
  border-style: groove;
  border-color: #51de51;
  margin-right: 10px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}